---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BenefitsCards from '../components/BenefitsCards.astro';
import WhyGamma from '../components/WhyGamma.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import ContactBanner from '../components/ContactBanner.astro';
import ContactForm from '../components/ContactForm.astro';
import Brands from '../components/Brands.astro';
import LogosMarquee from '../components/LogosMarquee.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Gamma Médica | Laboratorio Clínico y Salud Ocupacional">
	<Header />
	
	<main>
		<Hero />
		<BenefitsCards />
		<WhyGamma />
		<ContactBanner />
		<ServicesGrid />
		<LogosMarquee />
		<ContactForm />
		<Brands />
	</main>

	<Footer />
</Layout>
